@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .iti,
    .iti--allow-dropdown {
        width: 100% !important;
    }
}

@layer utilities {
    .bg-blur::before {
        content: '';
        @apply absolute inset-0 bg-cover bg-center backdrop-blur-lg bg-opacity-50;
        z-index: -1;
    }
}